{%load static%}

<header>
    <div class="container">
        <div class="logo">
            <img src="{% static 'core/images/Furia_Esports_logo.png' %}" alt="FURY Logo">
            <h1>FÚRIA</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}" class="hq-button">HOME</a></li>
                <li><a href="#team" class="hq-button">TIME</a></li>
                <li><a href="#matches" class="hq-button">PARTIDAS</a></li>
                <li><a href="#shop" class="hq-button">LOJA</a></li>
            </ul>
        </nav>
    </div>
</header>